.carousel-container {
    width: 1287px;
    overflow: hidden;
    position: relative;
    margin: auto;
    left: 0;
    right: 0;
  }

  .carousel-track {
    display: flex;
    transition: transform 0.5s ease-in-out;
  }

  .carousel-image {
    width: 100%;
  }

  .carousel-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    cursor: pointer;
    background: none;
    border: none;
    outline: none;
  }

  .prev {
    left: 10px;
  }

  .next {
    right: 10px;
  }